---
title: Hello, World.
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>

  <h1>Hello, World.</h1>

  <p class="doc">
      How does this work?
  </p><!-- .doc -->

  <ul>
    <% 5.times do |num| %>
      <li>Count <%= num %></li>
    <% end %>
  </ul>

</div><!-- .welcome -->
